* {
    box-sizing: border-box;
    line-height: 1.5;
}

#first-navbar a {
    text-decoration: none;
}

#first-navbar {
    margin: 0;
    border: 0;
    padding: 0;
}

.logo, .whole-container, .left-container, .settings_menu {
    display: flex;
    align-items: center;
    flex-direction: row; 
}

.left-container .feature_link::after {
    height: 1px;
    background: #3a79df;
    width: 100%;
    top: 100%; 
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
}

.left-container .feature_link:hover::after {
    opacity: 1;
    height: 1px;
}


.feature_link {
padding-left: 10px;
padding-right: 10px;
border: 0;
margin: 0;
position: relative;
}

.get-started {
    padding: 8px 10px 9px;
    border: 1px solid transparent;
    border-radius: 3px;
    border-color: currentColor;
    display: inline-block;
}

/* Hamburger */

.hamburger {
    position: relative;
    padding: 5px 0;
    margin-right: 5px;
    top: -5px;
    width:  20px;
    display:none;
    border:none;
    background: none;
    cursor:pointer;
}

.site-nav-hamburger, .site-nav-hamburger::after, .site-nav-hamburger::before {
    content: "";
    width: 20px;
    height: 3px;
    border-radius: 4px;
    background-color: #3a79df;
    display:    block;
    position: absolute;
}

.site-nav-hamburger::after {
    bottom: -7px;
}

.site-nav-hamburger::before {
    top: -7px;
}

.site-nav-hamburger {
    top: 50%;
    margin-top: -1px;
}

@media(min-width: 760px) {
    .features_menu {
        display: flex;
        align-items: center;
        flex-direction: row; 
    }
}
@media(max-width: 760px) {
    .hamburger {
        display:inline-block;
        position: relative;
        padding: 5px 0;
        margin-right: 5px;
        top: -5px;
        width:  20px;
    }

    .features_menu a {
        /* display: block; */
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #494E58;
        border-bottom: 1px solid #353a3d;
    }
    .features_menu {
        position: absolute;
        top:60px;
        left:0;
        right:0;
        width:100%;
        overflow-y: hidden;
        max-height: 0;
    }

    .feature_link {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width:760px) {
    .show .features_menu {
        max-height: 500px;
    }
    .show .features_menu a {
        color: #FFFFFF;
    }
}
/* End Hamburger */

.whole-container {
    max-width: 960px;
    margin: 0 auto;
}

.feature_link {
    text-decoration: none;
    color: #3a79df
}
.disquis-logo {
    height: 20px;
    width: 110px;
}

.left-container, .whole-container {
    justify-content: space-between;
}