* {
    box-sizing: border-box;
}

html body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Start Of Navbar */

.nav-container, .left-container, .right-container, .information {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left-container, .nav-container {
    justify-content: space-between;
}

.nav-container ul {
    list-style: none;
    display: inherit;
}

.nav-container li {
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    margin: 0;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

.nav-container .left-container li::after {
    content: '';
    width: 100%;
    top: 100%;
    position: absolute;
    left: 0;
    height: 1px;
    opacity: 0;
    background: #0a0707;
}

.nav-container .left-container li:hover::after {
    opacity: 1;
    height: 1px;
}

.nav-container a {
    text-decoration: none;
    /* color: purple; */
}

.logo a {
    display: inline-block;
}

.logo img {
    height: 50px;
    width: 100px;
}

.logo a:hover {
    cursor: pointer;
}

.hamburger-button {
    background: none;
    border: none;
    display: none;
    top: -5px;
    margin-right: 5px;
    position: relative;
    padding: 5px 0;
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 4px;
    height: 3px;
    width: 20px;
    background-color: #0a0707;
    cursor: pointer;
}

.hamburger::before {
    bottom: -7px;
}

.hamburger::after {
    top: -7px;
}

/* Really small phones */

@media only screen and (max-width: 600px) {
    .hamburger-button {
        display: inline-block;
    }
    .information {
        overflow-y: hidden;
        max-height: 0;
    }
    .active .information {
        max-height: 500px;
    }
    .information {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        overflow-y: hidden;
        max-height: 0;
        display: block;
    }

    .information li, ul {
        padding-left: 0px;
        padding-right: 0px;
        border: 0;
    }

    .information a {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #353a3d;
        border-bottom: 1px solid #353a3d;
        display: block;
        padding-right: 10px;
        padding-left: 10px;
        border: 0;
        
    }
    
}

/* bigger phones */

@media only screen and (min-width: 600px) {
    /* .hamburger-button {
        display: inline-block;
    } */
}

/* tablet / desktop */

@media only screen and (min-width: 768px) {}

/* End Of Navbar */